.background {
    grid-area: 1 / 1 / span 5 / span 3;
    animation: scale 30s alternate infinite;
    z-index: 1;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

.container {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.spaceman {
    animation: shake 50s alternate infinite;
    grid-area: 1 / 2 / 5 / 3;
    z-index: 2;
}

#text {
    grid-area: 3 / 1 / span 1 / span 3;
    z-index: 3;
    opacity: 0.8;
    color: rgba(20, 31, 23);
    text-shadow: 0.1vw 0.1vw 0vw #cecece,
                 -0.1vw -0.1vw 0vw #cecece,
                 -0.1vw 0.1vw 0vw #cecece, 
                 0.1vw -0.1vw 0vw #cecece;
    font-size: 80px;
    white-space: nowrap;
    font-family: 'Trebuchet MS', sans-serif;
    animation: scale 20s alternate infinite;
}

@keyframes shake {
  10% { transform: translate(-4px, -7px) rotate(-2deg); }
  25% { transform: translate(-10px, -10px) rotate(-4deg); }
  35% { transform: translate(-2px, -1px) rotate(3deg); }
  50% { transform: translate(10px, 10px) rotate(5deg); }
  60% { transform: translate(2px, -2px) rotate(-2deg); }
  75% { transform: translate(10px, -10px) rotate(2deg); }
  90% { transform: translate(-10px, 10px) rotate(-4deg); }
}

@keyframes scale {
    to { transform: scale(1.1);}
    
}