.html {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-items: normal;
    padding: 0.2rem;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: lightgrey;
    font-family: "Lucida Console", "Courier New", monospace;
}

#domainTag {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    padding-top: 0.1rem;
}

#currentDomain {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    padding-top: 0.1rem;
    color: darkolivegreen;
    font-weight: bolder;

}

#statusEmoji {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.05rem;
}

#block {
    background-color: grey;
    border: none;
    cursor: pointer;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 3rem;
    padding-top: 2rem;
    height: 2rem;
    width: 1rem;
    margin: 0.2rem;
}

#block:hover {
    background-color: darkslategray;
}