.html {
    margin: 0;
    padding: 0;
}

.domainContainer, li {
    min-width: 300px;
    min-height: 30px;
    margin: 5px 5px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.547);
}

li > button {
    background-color: rgb(182, 79, 79);
    margin-right: 2px;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 10px;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.547);
}

li > button:hover {
    background-color: brown;
}

li {
    padding: 0;
    margin: 5px;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(203, 203, 203, 0.502);
    justify-content: center;
    grid-template: 1fr / 12fr 1fr;
    border-radius: 5px;
    color: black;
    font-weight: 400;
}

ul {
    list-style: none;
    align-items: left;
    margin: 0;
    padding: 0;
}

.domainContainer {
    background-color: rgb(244, 244, 244);
    grid-template: 1fr / 2fr 5.3fr 0.7fr 1fr;
    border-radius: 15px;
    padding-left: 10px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(111, 122, 106);
    font-family: "Lucida Console", "Courier New", monospace;
}

#domainTag {
    color: darkolivegreen;
    font-weight: 700;
    font-stretch: extra-expanded;
    font-size: 14px;
}

#currentDomain {
    color: black;
    font-size: 13px;
    overflow: hidden;
}

#status {
    height: 30px;
    width: 12px;
    border-radius: 4px;
    align-self: right;
}

.red {
    background-color: rgba(255, 0, 0, 0.807);
    box-shadow: inset 1.5px 1.5px rgba(170, 47, 47, 0.6);
}

.green {
    background-color: rgba(83, 195, 75, 0.807);
    box-shadow: inset 1.5px 1.5px rgba(35, 151, 41, 0.6);
}

#block {
    border-radius: 15px;
    font-size: 10px;
    height: 30px;
    width: 30px;
    border: none;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.547);
    background-color: rgb(108, 143, 91);
}

#block:hover {
    background-color: darkslategray;
}
